{% include "about/_onboarding_banner.html" %}
<div class="subnav">
    <a href="{{ url_for('main.about_ranking') }}" class="subnav-item {% if current == 'ranking' %}active{% endif %}">Ranking</a>
    <a href="{{ url_for('main.about_reportes') }}" class="subnav-item {% if current == 'reportes' %}active{% endif %}">Reportes</a>
    <a href="{{ url_for('main.about_reviewer') }}" class="subnav-item {% if current == 'reviewer' %}active{% endif %}">Reviewer</a>
    <a href="{{ url_for('main.about_votaciones') }}" class="subnav-item {% if current == 'votaciones' %}active{% endif %}">Votaciones</a>
    <a href="{{ url_for('main.about_rachas') }}" class="subnav-item {% if current == 'rachas' %}active{% endif %}">Rachas</a>
</div>
